In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\pooja\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\pooja\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\pooja\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\pooja\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in c:\users\pooja\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: idna in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: outcome in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sniffio in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sortedcontainers in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: pycparser in c:\users\pooja\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\pooja\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\pooja\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\pooja\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings ('ignore')
#from selenium.common.excetions import StaleElementReferenceException, NoSuchElementException 
from selenium.webdriver.common.by import By
import time

In [3]:
driver = webdriver.Chrome (r"C:\Users\pooja\chromedriver.exe")

In [4]:
#************************
# 1.NAUKRI.COM - DATA ANALYST
# ***********************

In [5]:
driver.get("http://www.naukri.com/")

In [6]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [7]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys ('Banglore')

In [8]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [9]:
Job_title = []
Location = []
Company = []
Exp = []

#JOB TITLE
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    Job_title.append(title)

#LOCATION

location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location = i.text
    Location.append(location)

#COMPANY

company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company = i.text
    Company.append(company)
    
#Exp

exp_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in exp_tags[0:10]:
    exp = i.text
    Exp.append(exp)

In [10]:
print (len(Job_title),len(Location),len(Company),len(Exp))

10 10 10 10

In [11]:
df= pd.DataFrame ({'Job Title':Job_title, 'Location':Location , 'Company':Company, 'Experience':Exp})
df

,Job Title,Location,Company,Experience
0,Data Analyst / Senior Analyst - R / SQL / Python,"Kolkata, Mumbai, Hyderabad/Secunderabad, Luckn...",The Nikharv Consultancy,3-6 Yrs
1,Data Analyst/Senior Analyst - R/SQL/Python,"Temp. WFH - Kolkata, Mumbai, Hyderabad/Secunde...",The Nikharv Consultancy,3-6 Yrs
2,Data Analyst,Bangalore/Bengaluru,Target,2-4 Yrs
3,data analyst / data analytics - US MNC (analyt...,"Temp. WFH - Gurgaon/Gurugram, Bangalore/Bengaluru",Aspyra Hr Services,3-8 Yrs
4,Business Data Analyst (Sr Exe / Asst Manager),Bangalore/Bengaluru,Talentleads,3-5 Yrs
5,Junior Data Analyst/ Scientist- Fresher Position,"Hybrid - New Delhi, Bangalore/Bengaluru, Mumba...",Sejal Consulting Hub,0-5 Yrs
6,Staff Data Analyst,Bangalore/Bengaluru,Walmart,10-14 Yrs
7,Reference Data Analyst,Bangalore/Bengaluru,Deutsche Bank,6-8 Yrs
8,Sr Data Analyst,Hybrid - Bangalore/Bengaluru,Amolitalents,6-9 Yrs
9,Job Opportunity with Leading MNC - Senior Data...,Bangalore/Bengaluru,Enrich And Enlight Business Consulting,5-7 Yrs

In [12]:
#**************************************
# 2. NAUKRI.COM - DATA SCIENTIST
#***************************************

In [13]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\pooja\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\pooja\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\pooja\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in c:\users\pooja\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\pooja\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: cffi>=1.14 in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: idna in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sniffio in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\users\pooja\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\pooja\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\pooja\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\pooja\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [14]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings ('ignore')
#from selenium.common.excetions import StaleElementReferenceException, NoSuchElementException 
from selenium.webdriver.common.by import By
import time

In [15]:
driver = webdriver.Chrome (r"C:\Users\pooja\chromedriver.exe")

In [16]:
driver.get("http://www.naukri.com/")

In [17]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [18]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys ('Banglore')

In [19]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [22]:
Job_title = []
Location = []
Company = []


#JOB TITLE
title_tags=driver.find_elements(By.XPATH, '//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    Job_title.append(title)

#LOCATION

location_tags=driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location = i.text
    Location.append(location)

#COMPANY

company_tags=driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company = i.text
    Company.append(company)

In [23]:
print (len(Job_title),len(Location),len(Company))

10 10 10

In [24]:
df= pd.DataFrame ({'Job Title':Job_title, 'Location':Location , 'Company':Company})
df

,Job Title,Location,Company
0,Data Scientist,"Noida, Kolkata, Mumbai, Hyderabad/Secunderabad...",Capgemini
1,Data Scientist,"Temp. WFH - Hyderabad/Secunderabad, Pune, Chen...",Tech Mahindra
2,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture
3,Data Science Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture
4,Lead Data Scientist,"Noida, Hyderabad/Secunderabad, Pune, Chennai, ...",Birlasoft
5,Data Scientist,"Hybrid - Noida, Hyderabad/Secunderabad, Pune, ...",Birlasoft
6,Data Scientist,Bangalore/Bengaluru,ANZ
7,Staff Data Analyst,Bangalore/Bengaluru,Walmart
8,Data Scientist,Bangalore/Bengaluru,ANZ
9,Data Scientist Knowledge graph,"Hybrid - Pune, Bangalore/Bengaluru",Capco

In [25]:
#***************************************************
#3. NAUKRI.COM - USING FILTER
#***************************************************

In [26]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\pooja\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\pooja\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\pooja\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\pooja\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\pooja\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: cffi>=1.14 in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sortedcontainers in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: pycparser in c:\users\pooja\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\pooja\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\pooja\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\pooja\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [27]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings ('ignore')
#from selenium.common.excetions import StaleElementReferenceException, NoSuchElementException 
from selenium.webdriver.common.by import By
import time

In [28]:
driver = webdriver.Chrome (r"C:\Users\pooja\chromedriver.exe")

In [29]:
driver.get("http://www.naukri.com/")

In [30]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [31]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [32]:
l_filter=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]")
l_filter.click()

In [33]:
s_filter=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]")
s_filter.click()

In [34]:
Job_title = []
Location = []
Company = []
Exp = []

#JOB TITLE
title_tags=driver.find_elements(By.XPATH, '//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    Job_title.append(title)

#LOCATION

location_tags=driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location = i.text
    Location.append(location)

#COMPANY

company_tags=driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company = i.text
    Company.append(company)
    
#Exp

exp_tags=driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft expwdth"]')
for i in exp_tags[0:10]:
    exp = i.text
    Exp.append(exp)

In [35]:
print (len(Job_title),len(Location),len(Company),len(Exp))

10 10 10 10

In [36]:
df= pd.DataFrame ({'Job Title':Job_title, 'Location':Location , 'Company':Company, 'Experience':Exp})
df

,Job Title,Location,Company,Experience
0,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
1,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
2,Data Scientist,"Delhi / NCR, Noida(Sector-136 Noida), Ghaziaba...",Extramarks Education,3-5 Yrs
3,Data Scientist,Noida,Gujarat Fluorochemicals,1-2 Yrs
4,AWS Data Warehouse Developer - IT Industry,"Delhi / NCR, Bangalore/Bengaluru, Maharashtra",GenNext India Private Limited,4-9 Yrs
5,Data Scientist,Permanent Remote,Vizlogic Digital Solutions,2-5 Yrs
6,Data Scientist,Noida,Metrix Research & Analytics,3-7 Yrs
7,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",torcai digital media,2-7 Yrs
8,Junior Data Scientist,Delhi / NCR,Skyleaf Consultants,2-4 Yrs
9,Modeler,Noida,Resource Access Management Solutions Pvt. Ltd.,3-7 Yrs

In [37]:
#*********************************************************
# 4.Flipkart Sunglasses
#*********************************************************

In [38]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\pooja\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: trio~=0.17 in c:\users\pooja\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\pooja\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\pooja\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\pooja\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: sniffio in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: cffi>=1.14 in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: outcome in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: pycparser in c:\users\pooja\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\pooja\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\pooja\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\pooja\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [39]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings ('ignore')
#from selenium.common.excetions import StaleElementReferenceException, NoSuchElementException 
from selenium.webdriver.common.by import By
import time

In [40]:
driver = webdriver.Chrome (r"C:\Users\pooja\chromedriver.exe")

In [41]:
driver.get("http://www.flipkart.com/")

In [42]:
close=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
close.click()

In [43]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('Sunglasses')

In [44]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

In [45]:
Brand = []
Description = []
DPrice = []
Price = []

start=0
end=3

for page in range(start,end):
    #BRAND
    brand=driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
    for i in brand:
        brands = i.text
        Brand.append(brands)
    #DESCRIPTION
    description=driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
    for i in description:
        descp = i.text
        Description.append(descp)
        
    #DPRICE
    dprice=driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
    for i in dprice:
        prices = i.text
        DPrice.append(prices)
        
    #PRICE
    price=driver.find_elements(By.XPATH, '//div[@class="_3I9_wc"]')
    for i in price:
        disc = i.text
        Price.append(disc)
B= Brand[0:100]
D= Description[0:100]
AP= Price[0:100]
DP= DPrice[0:100]

In [46]:
print (len(B),len(D),len(AP),len(DP))

100 100 100 100

In [47]:
df = pd.DataFrame({'Brand':B,'Description':D,'ActualPrice':AP,'DiscountedPrice':DP})
df

,Brand,Description,ActualPrice,DiscountedPrice
0,PIRASO,UV Protection Aviator Sunglasses (54),"₹1,599",₹244
1,RESIST EYEWEAR,"Polarized, Riding Glasses, UV Protection Wayfa...","₹4,999","₹1,399"
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹999,₹699
3,Elligator,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹599,₹149
4,Elligator,UV Protection Round Sunglasses (54),"₹2,495",₹229
...,...,...,...,...
95,ZARSHA,UV Protection Aviator Sunglasses (Free Size),"₹1,299",₹449
96,PIRASO,UV Protection Rectangular Sunglasses (Free Size),"₹2,599",₹274
97,VINCENT CHASE,UV Protection Wayfarer Sunglasses (50),"₹1,999",₹599
98,Fastrack,"Night Vision, UV Protection Round Sunglasses (54)",₹899,₹579
99,PIRASO,"UV Protection, Gradient Round Sunglasses (Free...","₹1,599",₹268

In [48]:
#****************************************
# 5. Flipkart i phone 11 Reviews
#****************************************

In [49]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\pooja\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\pooja\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\pooja\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in c:\users\pooja\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\pooja\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: idna in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: outcome in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: pycparser in c:\users\pooja\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\pooja\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\pooja\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\pooja\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [50]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings ('ignore')
#from selenium.common.excetions import StaleElementReferenceException, NoSuchElementException 
from selenium.webdriver.common.by import By
import time

In [51]:
driver = webdriver.Chrome (r"C:\Users\pooja\chromedriver.exe")

In [52]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART")

In [53]:
Rating = []
RvwSum = []
FRvw = []


start=0
end=10

for page in range(start,end):
    #RATING
    rating=driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating:
        ratings = i.text
        Rating.append(ratings)
    #REVIEW SUMMARY
    rs=driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
    for i in rs:
        rvs = i.text
        RvwSum.append(rvs)
        
    #Full Review
    freview=driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]')
    for i in freview:
        fr = i.text
        FRvw.append(fr)

In [54]:
print (len(Rating),len(RvwSum),len(FRvw))

100 100 100

In [55]:
df = pd.DataFrame ({'Rating':Rating,'Review Summary':RvwSum,'Full Review':FRvw})
df

,Rating,Review Summary,Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,5,Worth every penny,Previously I was using one plus 3t it was a gr...
96,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
97,5,Highly recommended,What a camera .....just awesome ..you can feel...
98,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
99,4,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...

In [56]:
#*****************************************************
#6. Flipkart Sneakers
#*****************************************************

In [57]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\pooja\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\pooja\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\pooja\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\pooja\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\pooja\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: async-generator>=1.9 in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sniffio in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sortedcontainers in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: idna in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: pycparser in c:\users\pooja\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\pooja\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\pooja\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\pooja\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [58]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings ('ignore')
#from selenium.common.excetions import StaleElementReferenceException, NoSuchElementException 
from selenium.webdriver.common.by import By
import time

In [59]:
driver = webdriver.Chrome (r"C:\Users\pooja\chromedriver.exe")

In [60]:
driver.get("http://www.flipkart.com/")

In [61]:
close=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
close.click()

In [62]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('Sneakers')

In [63]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

In [64]:
Brand = []
Description = []
Price = []

start=0
end=3

for page in range(start,end):
    #BRAND
    brand=driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
    for i in brand:
        brands = i.text
        Brand.append(brands)
    #DESCRIPTION
    description=driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
    for i in description:
        descp = i.text
        Description.append(descp)
        
    #PRICE
    price=driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
    for i in price:
        prices = i.text
        Price.append(prices)
        
    
B= Brand[0:100]
D= Description[0:100]
P= Price[0:100]

In [65]:
print (len(B),len(D),len(P))

100 100 100

In [66]:
df = pd.DataFrame({'Brand':B,'Description':D,'Price':P})
df

,Brand,Description,Price
0,RapidBox,2006 Trenddy Fashion Sporty Casuals Sneakers R...,₹945
1,SFR,5011-Latest Collection Stylish & Trendy Casual...,₹399
2,World Wear Footwear,Synthetic Leather |Lightweight|Comfort|Summer|...,₹399
3,aadi,Neptune Sneakers For Men,₹434
4,PUMA,ST Activate V2 Sneakers For Men,"₹2,279"
...,...,...,...
95,RapidBox,Mesh |Lightweight|Comfort|Summer|Trendy|Walkin...,₹599
96,Sparx,Stylish Casual Sports Shoe Sneakers For Women,₹824
97,Kraasa,STREET ICON M Sneakers For Men,₹499
98,HRX by Hrithik Roshan,Latest Collection-1216 Stylish Casual Sports S...,"₹3,699"
99,Bacan,Men White Solid Sneakers Sneakers For Men,₹598

In [67]:
#******************************
# 7. Amazon Laptops
#******************************

In [68]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\pooja\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: trio~=0.17 in c:\users\pooja\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\pooja\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\pooja\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\pooja\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: attrs>=19.2.0 in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sortedcontainers in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: pycparser in c:\users\pooja\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\pooja\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\pooja\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\pooja\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [69]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings ('ignore')
#from selenium.common.excetions import StaleElementReferenceException, NoSuchElementException 
from selenium.webdriver.common.by import By
import time

In [70]:
driver = webdriver.Chrome (r"C:\Users\pooja\chromedriver.exe")

In [71]:
driver.get("https://www.amazon.in/")

In [72]:
product=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
product.send_keys('Laptop')

In [73]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

In [76]:
CPUfilter=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[2]/li[13]/span/a/span")
CPUfilter.click()

In [77]:
Title = []
Rating = []
Price = []




 #TITLE
title_tags=driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in title_tags:
    title = i.text
    Title.append(title)
#Ratings
rating_tags=driver.find_elements(By.XPATH,"//div[@class='a-row a-size-small']/span")
for i in rating_tags:
    Rating.append(i.get_attribute("aria-label"))


    
    
#Price
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags:
    price = i.text
    Price.append(price)

    
Titles = Title[0:10]
Ratings = Rating[0:20:2]
Rate = []
for i in Ratings:
    Rate.append(i[0:4])

Prices = Price[0:10]

In [78]:
print (len(Titles),len(Rate),len(Prices))

10 10 10

In [79]:
df= pd.DataFrame ({"Title":Titles,"Rating":Rate,"Price":Prices})
df

                                               Title Rating     Price
0  LG Gram17 Intel EVO-[12th Gen Core i7/Win11/16...   4.1   1,15,999
1  LG Gram14 Intel EVO-[12th Gen Corei7/Win11/16G...   4.0     99,790
2  ASUS Vivobook 14, Intel Core i7-1165G7 11th Ge...   3.1     56,990
3  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....   3.7     79,990
4  Acer Nitro 5 Gaming Laptop Intel core i7 11th ...   4.5     78,106
5  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...   3.9     94,630
6  Lenovo IdeaPad Gaming 3 Intel Core i7-12700H 1...   3.7     99,990
7  HP Victus Gaming Latest 12th Gen Intel Core i7...   4.3     84,990
8  Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 1...   4.2     79,990
9  Lenovo ThinkPad E14 Intel Core i7 12th Gen 14"...   3.5   1,02,490

In [80]:
#******************************
#8.TOP 1000 Quotes
#******************************

In [81]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\pooja\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: trio~=0.17 in c:\users\pooja\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\pooja\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\pooja\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\pooja\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: idna in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: outcome in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\pooja\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\pooja\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\pooja\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\pooja\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [82]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings ('ignore')
#from selenium.common.excetions import StaleElementReferenceException, NoSuchElementException 
from selenium.webdriver.common.by import By
import time

In [83]:
driver = webdriver.Chrome (r"C:\Users\pooja\chromedriver.exe")

In [84]:
driver.get("http://www.azquotes.com/")

In [85]:
quotes=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
quotes.click()

In [86]:
Quote = []
Author = []
ToQ = []

start=0
end=10

for page in range(start,end):
    #Quote
    quote=driver.find_elements(By.XPATH, '//a[@class="title"]')
    for i in quote:
        Quote.append(i.text)
    
    #Author
    author=driver.find_elements(By.XPATH, '//div[@class="author"]')
    for i in author:
        Author.append(i.text)
        
    #Type of Quote
    type=driver.find_elements(By.XPATH, '//div[@class="tags"]')
    for i in type:
        ToQ.append(i.text)

In [87]:
print (len(Quote),len(Author),len(ToQ))

1000 1000 1000

In [88]:
df = pd.DataFrame ({'Quote':Quote,'Author':Author,'TypeofQuote':ToQ})
df

,Quote,Author,TypeofQuote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
996,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
997,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
998,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
999,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

In [89]:
#*******************************
# List of Prime Ministers
#*******************************

In [90]:
! pip install selenium

Requirement already satisfied: selenium in c:\users\pooja\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\pooja\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\pooja\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\pooja\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\pooja\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: async-generator>=1.9 in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: outcome in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sniffio in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sortedcontainers in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: pycparser in c:\users\pooja\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\pooja\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\pooja\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\pooja\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [91]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings ('ignore')
#from selenium.common.excetions import StaleElementReferenceException, NoSuchElementException 
from selenium.webdriver.common.by import By
import time

In [92]:
driver = webdriver.Chrome (r"C:\Users\pooja\chromedriver.exe")

In [93]:
driver.get("http://www.jagranjosh.com/")

In [94]:
quotes=driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a")
quotes.click()

In [95]:
quotes=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a")
quotes.click()

In [97]:
Table = []
NTable = []
Name = []
Born_Death = []
Term_office = []
Remarks = []

#Table
table=driver.find_elements(By.XPATH,"//div[@class='table-box']")
for i in table:
    Table.append(i.text.split("\n"))

NTable = Table[0]

Name = NTable[6::6]
Born_Death = NTable[7::6]
Term_office = NTable[8::6]
Remarks = NTable[10::6]

Remarks.append(NTable[-1])

In [98]:
print (len(Name),len(Born_Death),len(Term_office),len(Remarks))

18 18 18 18

In [99]:
df = pd.DataFrame ({'Name':Name,'Born-Death':Born_Death,'Term':Term_office,'Remarks':Remarks})
df

,Name,Born-Death,Term,Remarks
0,Jawahar Lal Nehru,(1889–1964),15 August 1947 to 27 May 1964,The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),9 June 1964 to 11 January 1966,He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966,-
4,Indira Gandhi,(1917–1984),24 January 1966 to 24 March 1977,First female Prime Minister of India
5,Morarji Desai,(1896–1995),24 March 1977 to 28 July 1979,Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),14 January 1980 to 31 October 1984,The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),31 October 1984 to 2 December 1989,Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),21 June 1991 to 16 May 1996,First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998,------
15,Atal Bihari Vajpayee,(1924-2018),19 March 1998 to 22 May 2004,The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),22 May 2004 to 26 May 2014,First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...

In [100]:
#*******************************
#10. 50 Most Expensive Cars
#*******************************

In [101]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\pooja\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\pooja\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\pooja\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\pooja\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\pooja\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: cffi>=1.14 in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: outcome in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: pycparser in c:\users\pooja\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\pooja\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\pooja\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\pooja\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [102]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings ('ignore')
#from selenium.common.excetions import StaleElementReferenceException, NoSuchElementException 
from selenium.webdriver.common.by import By
import time

In [103]:
driver = webdriver.Chrome (r"C:\Users\pooja\chromedriver.exe")

In [104]:
driver.get("https://www.motor1.com/")

In [106]:
menu=driver.find_element(By.XPATH,"/html/body/div[3]/div[2]/div/div/div[1]/div")
menu.click()

In [112]:
features=driver.find_element(By.XPATH,"/html/body/div[4]/div[1]/div[3]/ul/li[5]/button")
features.click()

In [113]:
lists=driver.find_element(By.XPATH,"/html/body/div[4]/div[1]/div[3]/ul/li[6]/ul/li[1]/a")
lists.click()

In [114]:
cars=driver.find_element(By.XPATH,"/html/body/div[3]/div[9]/div[1]/div[1]/div/div/div[9]/div/div[1]/h3/a")
cars.click()

In [115]:
Name = []
Price = []


#Name
name=driver.find_elements(By.XPATH, '//h3[@class="subheader"]')
for i in name:
    Name.append(i.text)
    

#Price

price=driver.find_elements(By.XPATH, "//strong")
for i in price:
    Price.append(i.text.split(":"))
Prices = []
for i in Price:
    Prices.append(i[1::2])

In [116]:
print (len(Name),len(Prices))

51 51

In [117]:
df = pd.DataFrame({"Name":Name,"Price":Prices})
df

                                Name                    Price
0                          Drako GTE          [ $1.2 Million]
1                      De Tomaso P72          [ $1.3 Million]
2                  Ferrari LaFerrari          [ $1.4 Million]
3                      Pagani Huayra          [ $1.4 Million]
4                       McLaren Elva                       []
5                        Czinger 21C          [ $1.7 Million]
6                      Ferrari Monza          [ $1.7 Million]
7                 Gordon Murray T.33          [ $1.7 Million]
8                  Koenigsegg Gemera          [ $1.7 Million]
9                        Zenvo TSR-S          [ $1.7 Million]
10                Hennessey Venom F5          [ $1.7 Million]
11                   Bentley Bacalar          [ $1.8 Million]
12     Hispano Suiza Carmen Boulogne          [ $1.9 Million]
13            Bentley Mulliner Batur          [ $1.9 Million]
14                      Deus Vayanne          [ $2.0 Million]
15                       SSC Tuatara          [ $2.0 Million]
16                       Lotus Evija         [ $2.0 Million*]
17               Aston Martin Vulcan          [ $2.1 Million]
18                        Delage D12          [ $2.3 Million]
19                 McLaren Speedtail          [ $2.3 Million]
20                      Rimac Nevera          [ $2.3 Million]
21                     Pagani Utopia          [ $2.4 Million]
22              Pininfarina Battista          [ $2.5 Million]
23                 Ferrari FXX K Evo          [ $2.5 Million]
24                Gordon Murray T.50          [ $2.6 Million]
25              Lamborghini Countach          [ $2.6 Million]
26          Mercedes-AMG Project One          [ $2.6 Million]
27               Aston Martin Victor          [ $2.7 Million]
28       Hennessey Venom F5 Roadster          [ $3.0 Million]
29                  Koenigsegg Jesko                       []
30             Aston Martin Valkyrie          [ $3.0 Million]
31         W Motors Lykan Hypersport          [ $3.2 Million]
32                     McLaren Solus          [ $3.4 Million]
33         Pagani Huayra Roadster BC                       []
34          Bugatti Chiron Pur Sport          [ $3.5 Million]
35                  Lamborghini Sian          [ $3.6 Million]
36                  Koenigsegg CC850          [ $3.6 million]
37   Bugatti Chiron Super Sport 300+          [ $3.7 Million]
38                Lamborghini Veneno          [ $3.9 Million]
39                    Bugatti Bolide          [ $4.5 Million]
40                   Bugatti Mistral          [ $4.7 Million]
41               Pagani Huayra Imola          [ $5.0 Million]
42                      Bugatti Divo          [ $5.4 Million]
43               SP Automotive Chaos          [ $5.8 Million]
44                  Pagani Codalunga          [ $6.4 Million]
45          Mercedes-Maybach Exelero          [ $7.4 Million]
46                Bugatti Centodieci          [ $8.0 Million]
47              Rolls-Royce Sweptail          [ $9.0 Million]
48          Bugatti La Voiture Noire         [ $12.8 Million]
49            Rolls-Royce Boat Tail*         [ $13.4 Million]
50  Most Expensive Cars In The World  [ $28.0 Million (est.)]